<extend name="Public/base" />
<block name="style">
    <link rel="stylesheet" href="__STATIC__/mstp/css/compiled/personal-info.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="__CSS__/myInfo.css" type="text/css" media="screen" />
</block>
<block name="content">
    <!-- edit form column -->
    <!-- main container .wide-content is used for this layout without sidebar :)  -->
    <div class="content wide-content">
        <div class="container-fluid">
            <div class="settings-wrapper" id="pad-wrapper" style="margin-top: 0">
                <div id="error">{$error}</div>
                <!-- avatar column -->
                <div class="span3 avatar-box" style="width: 150px;">
                    <div class="personal-image" >
                        <div id="fileBox">
                            <img src="__STATIC__/mstp/img/personal-info.png" class="avatar img-circle" />
                            <input type="file" name="upFile" form="addFrom" id="upFile"/>
                        </div>
                        <p style="margin-top: 10px;">&emsp;选 择 更 换 头 像</p>
                        <!--<input class="span5 inline-input" type="text" name="aaaa" form="addFrom" value="{$list.name}" />-->
                    </div>
                </div>

                <!-- edit form column -->
                <div class="span7 personal-info">
                    <h5 class="personal-title">个 人 信 息</h5>

                    <form action="{:U('User/changeInfo')}" method="post" enctype="multipart/form-data" id="addFrom">
                        <div class="field-box">
                            <label>我的用户名:</label>
                            <input class="span5 inline-input" type="text" name="name" value="{$list.name}" />
                        </div>
                        <div class="field-box">
                            <label>联系方式:</label>
                            <input class="span5 inline-input" type="text" name="tel" value="{$list.phone}" />
                        </div>
                        <div class="field-box">
                            <label>电子邮箱:</label>
                            <input class="span5 inline-input" id="email" type="email" name="email" value="{$list.email}" autocomplete="off"/>
                        </div>
                        <div class="field-box">
                            <label> 年&emsp;龄:</label>
                            <input class="span5 inline-input" type="text" name="age" value="{$list.age}" />
                        </div>
                        <div class="field-box">
                            <label> 性&emsp;别:</label>
                            <eq name="list.sex" value="1">
                                <label for="nan" style="width: 20px">男：</label><input id="nan" type="radio" name="sex" value="1" attr="男" style="float: left;" checked/>
                                <label for="nv" style="width: 20px;margin-left: 30px;">女：</label><input id="nv" type="radio" name="sex" value="1" attr="女" style="float: left;"/>
                            <else/>
                                <label for="nan" style="width: 20px">男：</label><input id="nan" type="radio" name="sex" value="1" attr="男" style="float: left;"/>
                                <label for="nv" style="width: 20px;margin-left: 30px;">女：</label><input id="nv" type="radio" name="sex" value="1" attr="女" style="float: left;" />
                            </eq>
                            <br/>
                        </div>
                        <div class="field-box">
                            <label>新密码:</label>
                            <input class="span5 inline-input" type="password" name="password" value="" />
                        </div>
                        <div class="field-box">
                            <label>确认密码:</label>
                            <input class="span5 inline-input" type="password" name="confirmPassword" value="" />
                        </div>
                        <div class="span6 field-box actions">
                            <input type="submit" class="btn-glow primary" value="保存更改" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="__JS__/admin/myInfo.js"></script>
</block>